.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Navbar {
	display: flex;
	flex-direction: column;
}

#logo {
  justify-content: flex-start;
  padding: 3vh;
  height: 12vh;
}

.Navlink {
  font-family: Futura;
  src: url('./assets/Futura-Medium.woff'), format('WOFF');
  font-size: 2vw;
  width: 60vw;
  margin: auto;
  padding: 1vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #C6C6C6;
}

a:active {
  color: #848484;
}

#worldnews {
  width: 200px;
  padding: 20px 0px;
}

#worldnewsdiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15%;
}

#box {
  height: 360px;
  width: 370px;
  background: #D8D8D8;
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
  border-width: 1px;
}

#newsimg {
  border-radius: 10px 10px 0px 0px;
  object-fit: full;
  height: 210px;
  width: 99%;
}

p {
  margin-left: 10px;
  margin-top: 1px;
  font-family: Futura;
  src: url('./assets/Futura-Bold.woff'), format('WOFF');
  text-align: left;
}

.title {
  font-size: 22px;
}

.url {
  font-size: 22px;
  color: #6E6E6E;
}
